.skills-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;

  /* border: 1px solid black; */
}
.web-dev-skills {
  margin: 0 15px 0 15px;
  position: relative;
  width: 30%;
  height: 90%;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.web-dev-skills-header {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
}

.web-dev-skills-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* border: 1px solid black; */
  margin: 0;
  padding: 2%;
}

.web-dev-skill {
  flex: 1;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  position: relative;
  width: 100%;
  height: 15%;
  /* border: 1px solid black; */
}
.progress-bar {
  width: 90%;
  height: 10%;
  border-radius: 50px;
  background-color: white;
}
.progress-line::after {
  /* position: absolute; */
  content: attr(value);
  /* top: -35px; */
  /* right: 0px; */
  position: relative;
  left: 100%;
  top: -350%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 70%;
}

.animate-progress {
  transition: 0.4s linear;
  transition-property: width, background-color;
  animation: progress 5s forwards;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.ml-skills {
  margin: 0 15px 0 15px;
  position: relative;
  width: 30%;
  height: 90%;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* display: flex; */
  /* flex-direction: column; */
}

.ml-skills-header {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
}

.ml-skills-body {
  position: relative;
  width: 100%;
  height: 90%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.ml-skill {
  flex: 1;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  position: relative;
  width: 100%;
  height: 15%;
  /* border: 1px solid black; */
}

.cloud-skills {
  margin: 0 15px 0 15px;
  position: relative;
  width: 30%;
  height: 90%;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cloud-skills-header {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
}

.cloud-skills-body {
  position: relative;
  width: 100%;
  height: 90%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.cloud-skill {
  flex: 1;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  position: relative;
  width: 100%;
  height: 15%;
  /* border: 1px solid black; */
}

@media (max-width: 500px) {
  .mobile-skills-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    width: 100vw;
    height: 67vh;
    padding: 2%;
  }
  .mobile-web-dev-skills {
    /* margin-top: 5%; */
    margin-bottom: 5%;
    border-radius: 25px;
    /* padding-bottom: 15%; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    width: 100%;
    /* flex: 1; */
    /* border: 1px solid black; */
    height: 40%;
    display: flex;
    flex-direction: column;
  }
  .mobile-web-dev-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    height: 15%;
    position: relative;
  }

  .mobile-web-dev-body {
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 2%;
    /* border: 1px solid black; */
  }
  .mobile-web-dev-body-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 25px;
    /* border: 1px solid black; */
  }

  .mobile-web-dev-body-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: relative;
    border-bottom-right-radius: 25px;
    /* border: 1px solid black; */
  }
  .mobile-web-dev-skill {
    /* margin-top: 2%; */
    flex: 1;
    color: white;
    width: 100%;
    font-size: 60%;
    /* border: 1px solid black; */
  }
  .mobile-progress-bar {
    width: 90%;
    height: 10%;
    border-radius: 50px;
    background-color: white;
  }
  .mobile-progress-line::after {
    /* position: absolute; */
    content: attr(value);
    /* top: -35px; */
    /* right: 0px; */
    position: relative;
    left: 100%;
    top: -250%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 70%;
  }

  .mobile-ml-skills {
    /* margin-top: 10%; */
    border-radius: 25px;
    margin-bottom: 5%;
    /* margin-bottom: 3%; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    width: 100%;
    /* flex: 1; */
    height: 40%;
    /* margin-top: 9%; */
    display: flex;
    flex-direction: column;
  }

  .mobile-ml-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    height: 15%;
    position: relative;
  }

  .mobile-ml-body {
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 2%;
    /* border: 1px solid black; */
  }
  .mobile-ml-body-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 25px;
    /* border: 1px solid black; */
  }

  .mobile-ml-body-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: relative;
    border-bottom-right-radius: 25px;
    /* border: 1px solid black; */
  }
  .mobile-ml-skill {
    /* margin-top: 2%; */
    flex: 1;
    color: white;
    width: 100%;
    font-size: 60%;
    /* border: 1px solid black; */
  }

  .mobile-cloud-skills {
    /* margin-top: 5%; */
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    width: 100%;
    /* flex: 1; */
    height: 40%;
    display: flex;
    flex-direction: column;
  }

  .mobile-cloud-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    height: 15%;
    position: relative;
  }

  .mobile-cloud-body {
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 2%;
    /* border: 1px solid black; */
  }
  .mobile-cloud-body-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 25px;
    /* border: 1px solid black; */
  }

  .mobile-cloud-body-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: relative;
    border-bottom-right-radius: 25px;
    /* border: 1px solid black; */
  }
  .mobile-cloud-skill {
    /* margin-top: 2%; */
    flex: 1;
    color: white;
    width: 100%;
    font-size: 60%;
    /* border: 1px solid black; */
  }
}
