.certifications-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}
.certifications-content{
    display: flex;
    width: 95%;
    height: 95%;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    position: relative;
    padding-left: 5%;
    padding-top: 1%;
    /* border: 1px solid black; */
}
.certificate-div{
    /* background-color:   #677276; */
    display: flex;
    width: 25%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 25%;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* border: 1px solid black; */
}
.certificate-div-img{
    /* background-color:  white; */
    width:40%;
    height: 100%;
    padding: 4%;
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    /* border: 1px solid black; */
    /* background-color: white; */
}

.certificate-div-img img{
    background-color:white;
    height: 95%;
    width: 95%;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(80%); 
    mix-blend-mode:normalz;
    /* border-radius: 25px; */

    /* mix-blend-mode:multiply */
}

.certificate-div-img img:nth-child(6){
    /* width: 100%; */
    /* display: none; */
    border: 1px solid black;
}
.certificate-div-details{
    color: white;
    /* background-color:  #677276; */
    width: 60%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    margin: 0;
    /* padding: 0.5%; */
    font-size: 60%;
    overflow: hidden;
}
.certificate-popup-container{
    position: absolute;
    top: 15%;
    z-index: 1;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    
}
.certificate-popup{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 50%;
    height: 90%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding:2%;
}

@media (max-width: 500px) {
    .mobile-certifications-container{
    overflow-y: scroll;
    width: 100vw;
    height: 67vh;
    padding: 10%;
    }
    .mobile-certificate-div{
        /* flex: 1; */
        display: flex;
        width: 100%;
        position: relative;
        margin-right: 5%;
        margin-bottom: 5%;
        height: 45%;
        border-radius: 25px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .mobile-certificate-div-img{
        /* background-color:  white; */
        width:40%;
        height: 100%;
        padding: 4%;
        position: relative;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        /* border: 1px solid black; */
        /* background-color: white; */
    }
    
    .mobile-certificate-div-img img{
        background-color:white;
        height: 100%;
        width: 95%;
        border-radius: 10px;
        object-fit: cover;
        filter: brightness(80%); 
        mix-blend-mode:normalz;
        /* border-radius: 25px; */
    
        /* mix-blend-mode:multiply */
    }
    .mobile-certificate-div-details{
        color: white;
        /* background-color:  #677276; */
        width: 60%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        height: 100%;
        margin: 0;
        /* padding: 0.5%; */
        font-size: 60%;
        overflow: hidden;
    }
    .mobile-certificate-popup-container{
        position: absolute;
        top: 15%;
        z-index: 1;
        width: 100vw;
        height: 85vh;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        background: transparent;
    }
    .mobile-certificate-popup{
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 90%;
        height: 80%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        padding:2%;
    }
}

