.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
  /* border: 1px solid black; */
  /* min-height: 1300px; */
  vertical-align: middle;
}
.home-content {
  position: relative;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* top: 20%; */
  display: flex;
  width: 95%;
  height: 95%;
  /* border: 2px solid red; */
}
.home-content-left {
  width: 50%;
  /* border: 1px solid black; */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* border: 1px solid black; */
}

.home-content-right {
  width: 50%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /* border: 1px solid black; */
}

.home-content-right img{
  /* border: 1px solid black; */
  margin-right: 1%;
}
.location-container {
  display: flex;

  width: 20%;
  height: 20%;
  position: absolute;
  top: 50%;
}
.click-icon-msg {
  width: 70%;
  padding: 0.5%;
  background-color: #141517;
  color: white;
  text-align: center;
  font-size: 18px;
}
.click-icon-msg p {
  background-color: #141517;
}

.semicircular-div {
  width: 40%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #141517;
  justify-content: center;
  align-items: center;
}
.inner-semicircular-div {
  position: relative;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: #999d9e;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.inner-semicircular-div img {
  mix-blend-mode: multiply;
  width: 90%;
  height: 90%;
}

.upload-resume {
  width: 30%;
  height: 10%;
  position: relative;
  top: 55%;
  left: 50%;
}
.upload-resume button {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #141517;
  color: white;
  border: none;
}
.upload-resume button:hover {
  background-color: white;
  color: #141517;
}

.chatbot-container {
  display: flex;

  width: 20%;
  height: 20%;
  position: absolute;
  top: 50%;
  right: 0px;
}

.click-icon-chat {
  width: 70%;
  padding: 0.5%;
  background-color: #141517;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
.click-icon-chat p {
  background-color: #141517;
}

.chat-semicircular-div {
  width: 30%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #141517;
  justify-content: center;
  align-items: center;
}

.chat-inner-semicircular-div {
  background-color: #999d9e;
  position: relative;
  top: 20%;
  left: 20%;
  width: 80%;
  height: 60%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.chat-inner-semicircular-div img {
  mix-blend-mode: darken;
  margin: 5px 0px 0px 5px;
  width: 85%;
  height: 85%;
}

.elon-pic {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 65vh;
  width: 27vw;
  mix-blend-mode: multiply;
}

.intro-container {
  position: relative;
  left: 60%;
  top: 40%;
  height: 20%;
  width: 20%;
}

.intro_details {
  position: relative;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: start; /* Optional: center-align content within the div */
  padding: 20px;
  width: 400px;
  height: 200px;
  justify-content: start;
  margin-left: 1%;
  /* border: 1px solid black; */
}
.intro_details span {
  justify-content: start;
  display: block;
  color: white;
}
.intro_details span:first-child {
  font-size: 30px;
}
.intro_details span:nth-child(2) {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #ffffff;
  animation: typing 2s steps(40, end) infinite, blink-caret 1s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.intro_details span:nth-child(3) {
  font-size: 15px;
  margin-top: 10px;
}
.intro_details span:nth-child(4) {
  font-size: 15px;
}

.distance_div {
  background-color: #1c1d20;
  position: absolute;  
  top:75%;
  left: -300px;
  transition: left 0.3s ease-in-out;
  padding: 3px;
  padding-top: 6px;
  color: #fff;
  width: 200px;
  height: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.distance_div.visible {
    left: 0; 
  }

.distance_div span {
  display: block;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #1c1d20;
}


.animate-slideTop{
  animation: slideTop 1s ease 0.1s backwards;
}
.mobile-animate-slideTop{
  animation: slideTop 1s ease 0s backwards;
}
@keyframes slideTop{
  from{
    opacity: 0;
    transform: translateY(-100px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}


.animate-slideTopLeft {
  animation: slideTopLeft 1s ease backwards;
}

@keyframes slideTopLeft {
  from {
    transform: translateX(-100%) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.animate-slideBottom1 {
  animation: slideBottom1 1s ease 0.1s backwards;
}
.mobile-animate-slideBottom {
  animation: slideBottom1 1s ease 0s backwards;
}
@keyframes slideBottom1 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animate-slideBottom2 {
  animation: slideBottom2 1s ease 0.1s backwards;
}
@keyframes slideBottom2 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animate-slideLeft {
  animation: slideLeft 1s ease 0.1s backwards;
}

.mobile-animate-slideLeft {
  animation: slideLeft 1s ease 0s backwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.animate-slideRight {
  animation: slideRight 1s ease 0.1s backwards;
}
.mobile-animate-slideRight {
  animation: slideRight 1s ease 0s backwards;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
  .mobile-home-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 70vh;
    padding: 10px;
  }
  .mobile-intro-div {
    display: flex;
    position: relative;
    top: 0;
    height: 60%;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 100%;
  }
  .mobile-intro-div-text {
    padding: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    /* border: 1px solid black; */
    height: 100%;
    width: 50%;
    color: white;
  }
  .mobile-intro-div-text span {
    position: relative;
    /* top:4%; */
    /* border: 1px solid black; */
    font-size: 25px;
  }
  .mobile-intro-div-text span:first-child{
    font-size: 18px;
  }
  .mobile-intro-div-img {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    /* border: 1px solid black; */
    height: 100%;
    width: 60%;
  }
  .mobile-intro-div-img img {
    position: absolute;
    bottom: 0;
    /* left: 1rem; */
    /* top: 9rem; */
    border-bottom-right-radius: 25px;
    width: 50%;
    height: 70%;
  }
  .mobile-intro-div-text-roles {
    position: relative;
    top: 15%;
    width: 100%;
    height: fit-content;
    text-wrap: wrap;
    /* border: 1px solid black; */
  }
  .mobile-intro-div-text-roles span {
    font-size: 15px;
  }

  .mobile-welcome-msg {
    margin-top: 5%;
    /* margin-bottom: 5%; */
    /* display: flex; */
    position: relative;
    top: 0;
    height: fit-content;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 100%;
    /* flex-grow: 1; */
    padding: 3%;
    font-size: 15px;
    color: white;
  }
  .mobile-download-resume{
    position: relative;
    width: 100%;
    height: 10%;
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    /* border: 1px solid black; */
  }
  .mobile-download-resume button {
    width: 100%;
    height: 100%;
    font-size: 90%;
    border-radius: 50px;
    background-color: #141517;
    color: white;
    border: none;
  }
  .mobile-download-resume button:hover {
    background-color: white;
    color: #141517;
  }
  
  .mobile-welcome-msg p {
    margin: 0;
    padding-bottom: 10px;
  }
}
