@media (max-width: 500px) {
    .feats-container{
        width: 100vw;
        height: 67vh;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
        padding: 1%;
    }
    .feats-content{
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        position: relative;
        margin-top: 5%;
        width: 95%;
        height:95%;
        display: flex;
        flex-direction: column;
        padding: 2%;
        border-radius: 25px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .feat{
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border: 1px solid black; */
        border-bottom: 1px solid  #1c1d20   ;
    }
    .feat:nth-child(4){
        border: none;
    }
    .feat-title{
        height: 30%;
        font-size: 90%;
        color: white;
        display: flex;
        justify-content: start;
        padding-left: 1%;
        font-weight: bold;
        align-items: center;
        /* border: 1px solid black; */
    }
    .feat-description{
        height: 40%;
        font-size: 70%;
        color: white;
        display: flex;
        justify-content: end;
        padding-left: 1%;
        align-items: center;
        /* border: 1px solid black; */
    }
    .feat-year{
        display: flex;
        justify-content: end;
        align-items: center;
        color: white;
        font-size: 80%;
        padding-right: 2%;
    }
}