.education-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
  
    /* border: 1px solid black;*/
}


.education-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    overflow: hidden;
    height: 95%;
    position: relative;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
}
.education-content-years{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 90%;
    position: relative;
    /* border: 1px solid black; */
    margin-right: 2%;
}
.education-content-years div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-bottom:1px solid #1c1d20;
}

.education-content-years div p span{
    color: #1c1d20;
}
.education-content-years div:nth-child(4){
    border: none;
}


.education-content-divider{
    height: 90%;
    width: 2px;
    position: relative;
    background-color:  #1c1d20;
    margin-right: 2%;
}
.education-content-body{
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    /* border: 1px solid black; */
}


.education-content-body-ele{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding-left: 5%;
    font-weight: bold;
    color: white;
    border-bottom:1px solid #1c1d20;
    /* border: 1px solid black; */
}

.education-content-body-ele:nth-child(4){
    border: none;
}
.education-content-body-ele div{
    display: flex;
    justify-content: space-between;
}

.education-content-body-ele div h4{
    margin: 0;
    /* margin-right: 15%; */
    /* border: 1px solid black; */
}

.education-content-body-ele div h5{
    /* border: 1px solid black; */
    text-align: end;
    margin: 0;
}
.education-content-body-ele div p{
    margin: 0;
    margin-top: 2%;
    font-size: 15px;
}

@media (max-width: 500px) {
    .mobile-education-container{
        /* margin-top: 1%; */
        width: 100vw;
        height: 67vh;
        /* padding: 10%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
    }
    .mobile-education-content{
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        position: relative;
        margin-top: 5%;
        width: 95%;
        height:95%;
        display: flex;
        padding: 2%;
        border-radius: 25px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .mobile-education-years{
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        position: relative;
        /* border: 1px solid black; */
    }
    .mobile-education-content-divider{
        height: 90%;
        width: 2px;
        position: relative;
        background-color:  #1c1d20;
        margin-right: 1%;
        margin-left: 1%;
    }
    .mobile-year{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-bottom:1px solid #1c1d20;
        /* border: 1px solid black; */
        width: 100%;
    }
    .mobile-year:nth-child(4){
        border: none;
    }
    .mobile-education-details{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        position: relative;
        /* border: 1px solid black; */
    }
    .mobile-detail{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 51%;
        /* font-weight:900; */
        padding-left: 2%;
        font-weight: bolder;
        color: white;
        border-bottom:1px solid #1c1d20;
        /* border: 1px solid black; */
    }
    .mobile-detail div{
        display: flex;
        justify-content: space-between;
    }
    .mobile-detail div h4{
        margin: 0;
        /* margin-right: 15%; */
        /* border: 1px solid black; */
    }
    
    .mobile-detail div h5{
        /* border: 1px solid black; */
        text-align: end;
        margin: 0;
    }
    .mobile-detail:nth-child(4){
        border: none;
    }
}