.nav-container {
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-structure {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 25px;
  width: 95%;
  height: 90%;
}
.nav-structure nav {
  height: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-structure nav ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-structure nav ul li a:after {
  content: "";
  position: absolute;
  background-color: #1c1d20;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #1c1d20;
}

nav ul li a:hover:after {
  width: 100%;
}

nav ul li a :first-child{
  font-size: 22px;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a {
  color: white;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.giga_coder a span{
    font-size: 18px;
}

.animate-slideTopNav{
  animation: slideTop 1s ease 0s backwards;
}
.animate-slideBottom1Nav{
  animation: slideBottom1 1s ease 0s backwards;
}
.animate-slideBottom2Nav{
  animation: slideBottom2 1s ease 0s backwards;
}
.animate-slideLeftNav{
  animation: slideLeft 1s ease 0s backwards;
}
.animate-slideRightNav{
  animation: slideRight 1s ease 0s backwards;
}

@media (max-width:500px){
  .nav-container{
    height: 10vh;
    /* border: 1px solid black; */
  }
 .nav-structure{
    box-shadow: none;
  }
    
  .nav-structure nav ul{
    list-style-type: none;
    overflow-x: scroll;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  .nav-structure nav ul li a{
    margin-left: 0px;
    font-size: 10px;
  }
  .giga_coder a span{
    margin-left: none;
    font-size: 9px;
  } 
  .mobile-special-nav-container{
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-special-nav-structure{
    display: flex;
    width: 95%;
    /* height: 80%; */
    border-radius: 25px;

  }
  .mobile-special-nav-structure nav{
    width: 100%;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .mobile-special-nav-structure nav ul{
    display: flex;
    /* padding-left: 10px; */
    list-style-type: none;
    border-radius: 25px;
    overflow-x: scroll;
    justify-content: space-evenly;
    
  }
  .mobile-special-nav-structure nav ul li a{
    /* border: 1px solid black; */
    margin-left: 0px;
    font-size: 10px;
  }
}

