.contact-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    /* border: 1px solid black; */
}

.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    overflow: hidden;
    height: 95%;
    position: relative;
    border-radius: 25px; 
}

.contact-content-left{
    width: 50%;
    height: 100%;
    position: relative;
    padding: 1%;
    /* border: 1px solid black; */
}
.contact-content-left-form{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
}
.contact-content-left-form form{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.contact-content-left-form form input{
    margin-bottom: 4%;
    text-align: center;
    border-radius: 15px;
    width: 95%;
    border: none;
    background-color: white;
    height: 15%;
}
.contact-content-left-form form input[type="submit"]{
    background-color: #1c1d20;
    color: white;
}

.contact-content-left-form form input[type="submit"]:hover{
    background-color:white;
    color:  #1c1d20;
}
.contact-content-right{
    width: 50%;
    padding: 1%;
    height: 100%;
    position: relative;
    /* border: 1px solid black; */
}

.contact-content-right-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
}

.phone1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150%;
    font-weight: 300;
    width: 90%;
    height: 10%;
    margin-bottom: 3%;
    position: relative;
    border-bottom:1px solid #1c1d20;
    /* border: 1px solid black; */
}
.phone2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150%;
    font-weight: 300;
    width: 90%;
    height: 10%;
    margin-bottom: 3%;
    position: relative;
    border-bottom:1px solid #1c1d20;
    /* border: 1px solid black; */
}
.email1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150%;
    font-weight: 300;
    width: 90%;
    height: 10%;
    margin-bottom: 3%;
    position: relative;
    border-bottom:1px solid #1c1d20;
    /* border: 1px solid black; */
}
.email2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150%;
    font-weight: 300;
    width: 90%;
    height: 10%;
    margin-bottom: 3%;
    position: relative;
    border-bottom:1px solid #1c1d20;
    /* border: 1px solid black; */
}

.other-social-media{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    position: relative;
    /* border-bottom:1px solid #1c1d20; */
    /* border: 1px solid black; */
}

.sweetalert-custom-container{
    background-color: #1c1d20;
}
.sweetalert-custom-title{
    color: white;
}
div:where(.swal2-container) div:where(.swal2-popup) {
    background: #1c1d20;
}
  
.sweetalert-custom-title {
    background-color: #1c1d20;
}
div:where(.swal2-container) .swal2-html-container {
    background-color: #1c1d20;
}
div:where(.swal2-icon).swal2-success .swal2-success-ring {
    /* background-color: #1c1d20; */
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=tip] {
    background-color: #fff;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
    background-color: #fff;
}
div:where(.swal2-icon).swal2-success {
    background-color: #fff;
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
    background-color: white ;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #999D9E;
    color: #1c1d20;
}
.sweetalert-custom-confirm-button{
    background-color: #999D9E;
    color: #1c1d20;
}
.swal2-confirm{
    background-color: #999D9E !important;
    color: #1c1d20;
}
.swal2-styled{
    background-color: #999D9E !important;
    color: #1c1d20;
}

@media (max-width: 500px) {
    .mobile-contact-container{
        width: 100vw;
        height: 67vh;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
        padding: 1%;
    }
    .mobile-contact-details{
        width: 100%;
        height: 45%;
        position: relative;
        border-radius: 25px;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
    }
    .mobile-phone1{
        width: 95%;
        height: 15%;
        color: white;
        display: flex;
        font-size: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 1%;
        border-bottom: 1px solid #1c1d20;
    }
    .mobile-phone2{
        width: 95%;
        height: 15%;
        color: white;
        font-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 1%;
        border-bottom: 1px solid #1c1d20;
    }
    .mobile-email1{
        width: 95%;
        height: 15%;
        display: flex;
        font-size: 100%;
        color: white;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 1%;
        border-bottom: 1px solid #1c1d20;
    }
    .mobile-email2{
        width: 100%;
        height: 15%;
        display: flex;
        font-size: 100%;
        color: white;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 1%;
        border-bottom: 1px solid #1c1d20;
    }
    .mobile-other-social-media{
        width: 95%;
        height: 15%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        /* border: 1px solid black; */
        margin-bottom: 1%;
    }
    .mobile-contact-form{
        width: 100%;
        height: 45%;
        position: relative;
        padding: 1%;
        border-radius: 25px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;   
    }

    .mobile-contact-form form{
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .mobile-contact-form form input{
        margin-bottom: 4%;
        text-align: center;
        border-radius: 15px;
        width: 95%;
        border: none;
        background-color: white;
        height: 15%;
    }
    .mobile-contact-form form input[type="submit"]{
        background-color: #1c1d20;
        color: white;
    }
    
    .mobile-contact-form form input[type="submit"]:hover{
        background-color:white;
        color:  #1c1d20;
    }
    .sweetalert-custom-container{
        background-color: #1c1d20;
    }
    .sweetalert-custom-title{
        color: white;
    }
    div:where(.swal2-container) div:where(.swal2-popup) {
        background: #1c1d20;
    }
      
    .sweetalert-custom-title {
        background-color: #1c1d20;
    }
    div:where(.swal2-container) .swal2-html-container {
        background-color: #1c1d20;
    }
    div:where(.swal2-icon).swal2-success .swal2-success-ring {
        /* background-color: #1c1d20; */
    }
    div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=tip] {
        background-color: #fff;
    }
    div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
        background-color: #fff;
    }
    div:where(.swal2-icon).swal2-success {
        background-color: #fff;
    }
    
    div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
        background-color: white ;
    }
    div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
        background-color: #999D9E;
        color: #1c1d20;
    }
    .sweetalert-custom-confirm-button{
        background-color: #999D9E;
        color: #1c1d20;
    }
    div:where(.swal2-container) div:where(.swal2-popup) {
        background-color: #1c1d20;
    }
    
}
