.feedback-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    /* border: 1px solid black; */
}

.feedback-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    overflow: hidden;
    height: 95%;
    position: relative;
    border-radius: 25px; 
}

.feedback-content-left{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    position: relative;
}
.chart-container{
    width: 100%;
    height: 49%;
    padding: 1%;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
    /* border: 1px solid black; */
    position: relative;
}
.feedback-form{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
    /* border-bottom-left-radius: 25px; */
    width: 100%;
    margin-top: 1%;
    height: 49%;
    /* border: 1px solid black; */
    position: relative;
}

.feedback-form form{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    /* border: 1px solid black; */
}
.feedback-form form input{
    background-color: white;
    border: none;
    text-align: center;
    border-radius: 15px;
    width: 95%;
    color: #1c1d20;
    height: 15%;
    margin: 1%;
}

.feedback-form form input[type="submit"]{
    background-color: #1c1d20;
    color: white;
    cursor: pointer; 
}

.feedback-form form input[type="submit"]:hover{
    background-color: white;
    color:#1c1d20;
}

.feedback-form form input::placeholder{
    color:  #999D9E
}
.feedback-form form textarea{
    background-color: white;
    color: #1c1d20;
    border: none;
    border-radius: 15px;
    text-align: center;
    width: 95%;
    height: 40%;
}
.feedback-form form textarea::placeholder{
    color:  #999D9E
}


.feedback-content-right{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
}
.feedback-display-area{
    width: 99%;
    height: 99%;
    border-radius: 25px;
    position: relative;
    display: flex;
    padding: 5%;
    flex-direction: column;
    overflow-y: scroll;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
}
.feedback{
    width: 100%;
    height: 20%;
    display: flex;
    border-radius: 25px;
    margin-bottom: 2%;
    background-color:  #1c1d20;
    /* border: 1px solid black; */
    position: relative;
}
.feedback-img{
    background-color:  #1c1d20;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
}
.feedback-details{
    background-color:  #1c1d20;
    /* border: 1px solid black; */
    color: white;
    width: 70%;
    max-width: 70%;
    height: 100%;
    max-height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.feedback-details h5{
    flex: 1;
    height: 50%;
    width: 80%;
    margin: 0;
    /* border: 1px solid black; */
    background-color:  #1c1d20;
}
.feedback-details p{
    flex: 1;
    height: 50%;
    width: 100%;
    
    /* overflow: hidden; */
    overflow-x: scroll;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    /* overflow: scroll; */
    /* border: 1px solid black; */
    background-color:  #1c1d20;
}
.swal2-title{
    background-color:  #1c1d20;   
}
.swal2-popup{
    background-color:  #1c1d20;
}
.swal2-html-container b{
    background-color:  #1c1d20;
}
.swal2-loading{
    background-color:  #1c1d20;
}
.swal2-loader{
    background-color:  #1c1d20;
}
.swal2-timer-progress-bar-container{
    background-color:  #1c1d20;
}

@media (max-width: 500px) {
    .mobile-feedback-container{
        /* margin-top: 1%; */
        width: 100vw;
        height: 67vh;
        /* padding: 10%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
    }
    .mobile-feedback-top{
        display: flex;
        height: 50%;
        width: 100%;
        padding: 1%;
        
        position: relative;
        /* border: 1px solid black; */
    }
    .mobile-feedback-top-left{
        width: 59%;
        height: 100%;
        padding: 2%;
        overflow-y: scroll;
        position: relative;
        border-radius: 25px;
        margin-right: 1%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
    }
    .mobile-feedback-top-right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39%;
        overflow-x: hidden;
        height: 100%;
        position: relative;
        border-radius: 25px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
        /* border: 1px solid black; */
    }
    .chart{
        width: 95%;
        height: 100%;
    }
    .mobile-feedback-bottom{
        height: 50%;
        width: 100%;
        position: relative;
        padding: 2%;
        /* border: 1px solid black; */
    }
    .feedback{
        width: 100%;
        height: 20%;
        display: flex;
        border-radius: 25px;
        padding: 1%;
        background-color:  #1c1d20;
        /* border: 1px solid black; */
        position: relative;
    }
    .feedback-img{
        background-color:  #1c1d20;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 100%;
        /* border: 1px solid black; */
    }
    .feedback-details{
        background-color:  #1c1d20;
        /* border: 1px solid black; */
        color: white;
        width: 70%;
        max-width: 70%;
        height: 100%;
        max-height: 100%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    
    .feedback-details h5{
        flex: 1;
        height: 50%;
        width: 80%;
        font-size: 60%;
        margin: 0;
        /* border: 1px solid black; */
        background-color:  #1c1d20;
    }
    .feedback-details p{
        flex: 1;
        margin: 0;
        padding: 0;
        height: 50%;
        width: 100%;
        font-size: 60%;
        /* overflow: hidden; */
        overflow-x: scroll;
        /* white-space: nowrap; */
        /* text-overflow: ellipsis; */
        /* overflow: scroll; */
        /* border: 1px solid black; */
        background-color:  #1c1d20;
    }

    .mobile-feedback-bottom form{
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 25px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;    
        /* border: 1px solid black; */
    }
    .mobile-feedback-bottom form input{
        background-color: white;
        border: none;
        text-align: center;
        border-radius: 15px;
        width: 95%;
        color: #1c1d20;
        height: 15%;
        margin: 1%;
    }
    
    .mobile-feedback-bottom form input[type="submit"]{
        background-color: #1c1d20;
        color: white;
    }
    
    .mobile-feedback-bottom form input[type="submit"]:hover{
        background-color: white;
        color:#1c1d20;
    }
    
    .mobile-feedback-bottom form input::placeholder{
        color:  #999D9E
    }
    .mobile-feedback-bottom form textarea{
        background-color: white;
        color: #1c1d20;
        border: none;
        border-radius: 15px;
        text-align: center;
        width: 95%;
        height: 40%;
    }
    .mobile-feedback-bottom form textarea::placeholder{
        color:  #999D9E
    }
    span.apexcharts-legend-marker{
        border:1px solid black
    }
}
