.project-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}
.project-content{
    display: flex;
    width: 95%;
    height: 95%;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    position: relative;
    padding-left: 5%;
    padding-top: 1%;

    /* border: 1px solid black; */
}
.project-div{
    /* background-color:   #677276; */
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 2%;
    margin-bottom: 5%;
    height: 95%;    
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* border: 1px solid black; */
}
.project-div-details::-webkit-scrollbar {
    width: 0; /* Set the width to 0 */
    height: 0; /* Set the height to 0 */
  }
  
  /* Optional: You can also hide the scrollbar track */
  .project-div-details::-webkit-scrollbar-track {
    display: none;
  }
  
  /* Optional: You can hide the scrollbar thumb */
  .project-div-details::-webkit-scrollbar-thumb {
    display: none;
  }
.project-img{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /* border: 1px solid black; */
}
.project-img img{
    position: relative;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    height: 100%;
}

.project-div-details{
    display: flex;
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    padding: 2% 2% 0 2%;
    margin: 0;
    color: white;
    font-size: 75%;
    flex-direction: column;
    overflow-y: scroll;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.project-div-details h3{
    position: relative;
    text-align: center;
}

.project-div-details h4{
    text-align: center;
}

.project-div-details p{
    text-align: center;
}

@media (max-width: 500px) {
    .mobile-projects-container{
        overflow-y: scroll;
        width: 100vw;
        height: 67vh;
        padding: 10%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* border: 1px solid black; */
    }
    .mobile-project-div{
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 25px;
        position: relative;
        width: 80%;
        height: 100%;
        margin-bottom: 10%;
    }
    .mobile-project-div-img{
        position: relative;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        
        width: 100%;
        height: 50%;
    }
    .mobile-project-div-img img{
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        
    }
    .mobile-project-div-details{
        position: relative;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        color: white;
        width: 100%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 60%;
        height: 50%;
        overflow-y: scroll;
    }
    .mobile-project-div-details h3{
        text-align: center;
    }
}